@import url("nav.css");
:root {
    --color:rgb(199, 195, 202);
    --background: rgb(68, 67, 67);
    --hover: rgb(99, 98, 98);
}

* {
    margin: 0%;
    box-sizing: border-box;
}
    body {
        padding-top: 50px;
        font-family: sans-serif;
    }







