<h1>Soft-Skills</h1>
<div id="soft-skills">
    <circle-progress id="skill-1"
    [radius]="100"
    [percent]="25"
    [space]= -20
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="28"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#e8966b'"
    [innerStrokeColor]="'rgb(34, 34, 34)'"
    [innerStrokeWidth]="20"
    [title] ="'Comunicaion'"
    [titleColor]="'rgb(255, 244, 244)'"
    [titleFontSize]="'25px'"
    [showSubtitle]="false"
    [showUnits]= "false"
    [showBackground]= "false"
    [clockwise]="true" 
    [startFromZero]="true"
    [lazy] ="true"  
    [animateTitle]="true"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>

<circle-progress id="skill-2"
    [radius]="100"
    [percent]="25"
    [space]= -20
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="28"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#e8966b'"
    [innerStrokeColor]="'rgb(34, 34, 34)'"
    [innerStrokeWidth]="20"
    [title] ="'Comunicaion'"
    [titleColor]="'rgb(255, 244, 244)'"
    [titleFontSize]="'25px'"
    [showSubtitle]="false"
    [showUnits]= "false"
    [showBackground]= "false"
    [clockwise]="true" 
    [startFromZero]="true"
    [lazy] ="true"  
    [animateTitle]="true"
    [animation]="true"
    [animationDuration]="900"

    ></circle-progress>

<circle-progress id="skill-3"
    [radius]="100"
    [percent]="25"
    [space]= -20
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="28"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#e8966b'"
    [innerStrokeColor]="'rgb(34, 34, 34)'"
    [innerStrokeWidth]="20"
    [title] ="'Comunicaion'"
    [titleColor]="'rgb(255, 244, 244)'"
    [titleFontSize]="'25px'"
    [showSubtitle]="false"
    [showUnits]= "false"
    [showBackground]= "false"
    [clockwise]="true" 
    [startFromZero]="true"
    [lazy] ="true"  
    [animateTitle]="true"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>

<circle-progress id="skill-4"
    [radius]="100"
    [percent]="25"
    [space]= -20
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="28"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#e8966b'"
    [innerStrokeColor]="'rgb(34, 34, 34)'"
    [innerStrokeWidth]="20"
    [title] ="'Comunicaion'"
    [titleColor]="'rgb(255, 244, 244)'"
    [titleFontSize]="'25px'"
    [showSubtitle]="false"
    [showUnits]= "false"
    [showBackground]= "false"
    [clockwise]="true" 
    [startFromZero]="true"
    [lazy] ="true"  
    [animateTitle]="true"
    [animation]="true"
    [animationDuration]="900"

></circle-progress>

<circle-progress id="skill-5"
    [radius]="100"
    [percent]="25"
    [space]= -20
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="28"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#e8966b'"
    [innerStrokeColor]="'rgb(34, 34, 34)'"
    [innerStrokeWidth]="20"
    [title] ="'Comunicaion'"
    [titleColor]="'rgb(255, 244, 244)'"
    [titleFontSize]="'25px'"
    [showSubtitle]="false"
    [showUnits]= "false"
    [showBackground]= "false"
    [clockwise]="true" 
    [startFromZero]="true"
    [lazy] ="true"  
    [animateTitle]="true"
    [animation]="true"
    [animationDuration]="900"
></circle-progress>
</div>