#img-perfil {
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;
    object-fit: cover;
    /* mover la imagen dentro el circulo  */
    object-position: 0px -20px;
}