<div id="contenedor-social" class="align-self-end">
    <a target="_blank" href="https://github.com/FlorCardinali"><img src="../../../../assets/github.png" alt=""></a>
    <a target="_blank" href="https://www.linkedin.com/in/florencia-cardinali/"><img src="../../../../assets/linkedin.png" alt=""></a>
    <a target="_blank" href="https://www.instagram.com/an_astute_fox/"><img src="../../../../assets/instagram.png" alt=""></a>
    <a target="_blank" href="https://www.facebook.com/flopi.cardinali/"><img src="../../../../assets/facebook.png" alt=""></a>
</div>