#contenedor-social {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 25px;
    gap: 10px;
}
#contenedor-social img {
    width: 30px;
    opacity: 70%;   
}
#contenedor-social img:hover {
    filter: drop-shadow(0px -7px 10px #6cbde8);
    background-color:#6cbde8;
    border-radius: 45px;
    position: relative;
    top: -3px;
    opacity: 100%;
}