#div-acerca-de {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
    padding: 10px;
    margin-top: 20px;
    color: aliceblue; 
}
#div-acerca-de h2 {
    margin: 0%;
}
#texto-largo {
    max-height: 100px;
    overflow: hidden;
    text-align: left;
}

#mostrar-mas {
    background-color:rgba(0, 0, 0, 0);
    border: 0;
    font-size: large;
    text-decoration:overline;
    color: #e8966b;
}
#mostrar-mas:hover{
    /* background-color: #6cbde8; */
    filter: drop-shadow(0px 0px 4px #6cbde8);
}
.destacado {
    font-weight: 800;
    color: #e8966b;
}
