<div id="div-acerca-de">
    <h2>Acerca de mi:</h2>
    <p id="texto-largo">
        Soy 
        <span class="destacado">
            Flor,
        </span>
        una apasionada de 
        la programación y la tecnología. 
        <br>  <br>
        Recientemente me gradué en la 
        <span class="destacado">
            Tecnicatura Universitaria en Programación
        </span> 
        y estoy ansiosa por 
        comenzar mi carrera profesional en el mundo de la 
        programación.
        <br> <br>
        Soy una persona 
        <span class="destacado">
            sociable y comunicativa,
        </span>
        con habilidades en la comunicación oral y escrita. 
        Me considero una persona que se 
        <span class="destacado">
            adapta
        </span> 
        fácilmente a diferentes entornos y siempre busco 
        aprender cosas nuevas.
        <br> <br>
        Mi motivación en el trabajo es poder desarrollar 
        soluciones tecnológicas que puedan mejorar la vida 
        de las personas y de la sociedad en general. 
        <br> <br>
        Me gusta trabajar en equipo y
        <span class="destacado">
            compartir ideas
        </span>
        , pero también soy capaz de trabajar de manera autónoma
        cuando la situación lo requiere.
        <br> <br>
        En mi tiempo libre, disfruto de jugar videojuegos, 
        programar proyectos personales y escuchar música 
        en un 
        <span class="destacado">
            ambiente agradable.
        </span> 
        Como programadora, he participado en dos eventos 
        de programación de videojuegos llamados 
        <span class="destacado">
            "game jams",
        </span> 
        en los cuales fui programadora de Godot Engine.
        <br> <br>
        También quiero destacar que soy albina y tengo 
        discapacidad visual, lo cual me ha enseñado a ser una
        persona 
        <span class="destacado">
            muy resiliente
        </span>
        y a trabajar duro para superar 
        los obstáculos. Estoy segura de que puedo contribuir 
        significativamente en cualquier proyecto en el que 
        me involucre.
        <br> <br>
        En resumen, soy una programadora motivada, 
        comunicativa, adaptable y apasionada por la tecnología, 
        y estoy ansiosa por tener la oportunidad de 
        demostrarlo en un entorno laboral desafiante</p>
        <button id="mostrar-mas" (click)="mostrarMas()">Mostrar mas</button>
</div>

